body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-top: 80px;
}

/* Navbar Styles */
.navbar { 
    background-color: #fffafa;
    position: fixed;
    width: 100%;
    top: 0;
}
h3 {
    color: #007BFF;
}

.navbar .brand {
    float: left;
    margin: 10px;
}

.navbar .menu {
    float: right;
    margin: 10px;
}

.container {
    margin: auto;
    background-color: #fff;
    max-width: 500px;
    padding: 80px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 24px;
    color: #007BFF;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Input and Label Styles */
label {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

input, select {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 12px;
    font-size: 16px;
    margin-bottom: 15px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 30px;
    font-size: 20px;
    color: #007BFF;
}
